/*Modify anything form*/
.modify_form{
    padding: 10px;
    margin-left: 20px;
    
    display: flex;
    flex-direction: column;
}

.modify_form input{
    max-width: 200px;
    margin-bottom: 10px;
}

.submit_button{
    margin-top: 20px;
    padding: 2px;
    padding-block: 5px;

    border: none;
    border-radius: 4px;
    background-color: rgb(66, 161, 82);
    color: white;
}

/* Change pic grid*/
#change_pic_div{
    height: 155px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;

    border-style: solid;
    border-color: black;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#Change_pic_pic {
    aspect-ratio: 1;
    height: 130px;
    max-height: 130px;
    max-width: 130px;

    border: solid 2px black;
    border-radius: 50%;

    background-color: rgb(255, 247, 247);
    
    display: flex;
    justify-content: center;
    align-items: center;

}
#Change_pic_pic img{

    height: 126px;
    width: 126px;
    border-radius: 50%;

}

#Change_pic_form br{
    margin-bottom: 10px;
}
#form_imatge{
    padding-inline: 20px;
}


